<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/smartfarm/assets/main_style.css">
    <title>smartfarm</title>
</head>
<body>
    <div class="header">
        <h1 style="color: #ffffff;">smartfarm</h1>
    </div>
    <form class="login" action="/smartfarm/templates/main.html" method="POST">
        <label>username: <input type="text" name="username" value=""></label>
        <label>password: <input type="text" name="username" value=""></label>
        <input type="submit" value="login">
    </form>
</body>
</html>