{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_style.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>smartfarm</title>
</head>
{% block content %}

<style>
    #mylink_logout {
        position: absolute;
        top: 20px;
        left: 20px;
        width: auto;
        
    }
    #mylink_refresh {
        position: fixed;
        top: 20px;
        right: 20px;
        width: auto;
        
    }

</style>

<body>
    <div class="header">
        <div>
            <img class="myimage" src="{% static 'images/icon.png' %}" width="60" height="60">
            <h1 style="color: #ffffff;">

                smartfarm</h1>

        </div>
    </div>
    <div id="mylink_logout">
        <a class="mylink" href="{% url 'logout' %}">
            <div>
                <i class="fa fa-sign-out mylink" style="font-size:32px;color:rgb(255, 255, 255)"></i>
            </div>
        </a>
    </div>
    <div id="mylink_refresh">
        <a class="mylink" href="{% url 'panel' %}">
            <div>
                <i class="fa fa-refresh fa-spin" style="font-size:32px;color:rgb(255, 255, 255)"></i>
            </div>
        </a>
    </div>
    <div class="circle-diagrams">
        <div class="info_container">
            <div class="box">
                <p>Wheather t.</p>
                <div class="monitor">
                    <div
                        style="position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 10px;">
                        <div style="position: relative;display: flex;justify-content: center;align-items: center;">
                            <div id="wtps"></div>
                            <div id="wtmc">50</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="info_container">
            <div class="box">
                <p>Wheather m.</p>
                <div class="monitor">
                    <div
                        style="position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 10px;">
                        <div style="position: relative;display: flex;justify-content: center;align-items: center;">
                            <div id="wmps"></div>
                            <div id="wmmc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="info_container">
            <div class="box">
                <p>Soil t.</p>
                <div class="monitor">
                    <div
                        style="position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 10px;">
                        <div style="position: relative;display: flex;justify-content: center;align-items: center;">
                            <div id="stps"></div>
                            <div id="stmc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="info_container">
            <div class="box">
                <p>Soil m.</p>
                <div class="monitor">
                    <div
                        style="position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 10px;">
                        <div style="position: relative;display: flex;justify-content: center;align-items: center;">
                            <div id="smps"></div>
                            <div id="smmc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info_container">
            <div class="box">
                <p>Humidity</p>
                <div class="monitor">
                    <div
                        style="position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 10px;">
                        <div style="position: relative;display: flex;justify-content: center;align-items: center;">
                            <div id="hps"></div>
                            <div id="hmc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wheather">
        <div class="info_container">
            <div class="box">
                <img src="{% static 'images/rainy.png' %}">
                <div class="monitor">
                    <div
                        style="position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 10px;">
                        <div id="wmc"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info_container">
            <div class="box">
                <img src="{% static 'images/sun.png' %}">
                <div class="monitor">
                    <div
                        style="position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 10px;">
                        <div id="uvmc"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info_container">
            <div class="box">
                <h2>Latest report</h2>
                <h2>{{ date_added }}</h2>

            </div>
        </div>
    </div>
    <div class="plant-status">
        <div class="plant">
            <div class="title">
                <h1>your plant</h1>
            </div>
            <img class="plant_image" src="{% static 'images/plant.jpg' %}">
            
            
            
            <!-- delete start -->

            <!-- <div class="title">
                <h1>irrigation program</h1>
            </div> -->
            
            <!-- <div class="week">
                <label><input type="checkbox" name="monday" value="0"><span>monday</span></label>
                <label><input type="checkbox" name="thursday" value="1"><span>tuesday</span></label>
                <label><input type="checkbox" name="wednesday" value="2"><span>wednesday</span></label>
                <label><input type="checkbox" name="tuesday" value="3"><span>thursday</span></label>
                <label><input type="checkbox" name="friday" value="4"><span>friday</span></label>
                <label><input type="checkbox" name="saturday" value="5"><span>saturday</span></label>
                <label><input type="checkbox" name="sunday" value="6"><span>sunday</span></label>
            </div>
            <form name="irrigation_program" action="/">
                <div class="time-amount" id="monday">
                    <label><span>monday</span><input type="time" name="monday-time" value=""><input type="range"
                            name="monday-amount" min="0.000" max="10.000" value=""></label>
                </div>
                <div class="time-amount" id="tuesday">
                    <label><span>tuesday</span><input type="time" name="teusday-time" value=""><input type="range"
                            name="tuesday-amount" min="0.000" max="10.000" value=""></label>
                </div>
                <div class="time-amount" id="wednesday">
                    <label><span>wednesday</span><input type="time" name="wednesday-time" value=""><input type="range"
                            name="wednesday-amount" min="0.000" max="10.000" value=""></label>
                </div>
                <div class="time-amount" id="thursday">
                    <label><span>thursday</span><input type="time" name="thursday-time" value=""><input type="range"
                            name="thursday-amount" min="0.000" max="10.000" value=""></label>
                </div>
                <div class="time-amount" id="friday">
                    <label><span>friday</span><input type="time" name="friday-time" value=""><input type="range"
                            name="friday-amount" min="0.000" max="10.000" value=""></label>
                </div>
                <div class="time-amount" id="saturday">
                    <label><span>saturday</span><input type="time" name="saturday-time" value=""><input type="range"
                            name="saturday-amount" min="0.000" max="10.000" value=""></label>
                </div>
                <div class="time-amount" id="sunday">
                    <label><span>sunday</span><input type="time" name="sunday-time" value=""><input type="range"
                            name="sunday-amount" min="0.000" max="10.000" value=""></label>
                </div>
                <input type="submit" value="submit">
            </form> -->

            <!-- delete end -->
            <!-- <div class="irrigation_settings">
                <div class="days">
                    <span>monday</span>
                    <span>tuesday</span>
                    <span>wednesday</span>
                    <span>thursday</span>
                    <span>friday</span>
                    <span>saturday</span>
                    <span>sunday</span>
                </div>
                <div class="times">
                    <input type="time" name="monday-time">
                    <input type="time" name="teusday-time">
                    <input type="time" name="wednesday-time">
                    <input type="time" name="thursday-time">
                    <input type="time" name="friday-time">
                    <input type="time" name="saturday-time">
                    <input type="time" name="sunday-time">
                </div>
                <div class="ranges">
                    <input type="range" name="monday-amount" min="0.000" max="10.000">
                    <input type="range" name="tuesday-amount" min="0.000" max="10.000">
                    <input type="range" name="wednesday-amount" min="0.000" max="10.000">
                    <input type="range" name="thursday-amount" min="0.000" max="10.000">
                    <input type="range" name="friday-amount" min="0.000" max="10.000">
                    <input type="range" name="saturday-amount" min="0.000" max="10.000">
                    <input type="range" name="sunday-amount" min="0.000" max="10.000">
                </div>
            </div> -->
        </div>
    </div>
    <script>
{% if %}
        // رطوبت
        var progress_hps = {{ humidity }};

        document.getElementById("hps").style.background =
            "conic-gradient( #98ff79 " +
            progress_hps +
            "%, #072400 " +
            progress_hps +
            "%)";

        document.getElementById("hmc").innerHTML =
            progress_hps.toString() + "%";
        // دمای هوا
        var progress_wtps = {{ temperature }};
        document.getElementById("wtps").style.background =
            "conic-gradient( #98ff79 " +
            progress_wtps +
            "%, #072400 " +
            progress_wtps +
            "%)";

        document.getElementById("wtmc").innerHTML =
            progress_wtps.toString() + "°C";


        // رطوبت خاک

        var progress_smps = {{ moisture }};

        document.getElementById("smps").style.background =
            "conic-gradient( #98ff79 " +
            progress_smps +
            "%, #072400 " +
            progress_smps +
            "%)";

        document.getElementById("smmc").innerHTML =
            progress_smps.toString() + "%";

        // uv 
        var progress_uvmc = {{ uv }};

        if (progress_uvmc <= 2) {
            document.getElementById("uvmc").style.color = "#2bff00";
        }
        if (progress_uvmc > 2 && progress_uvmc <= 5) {
            document.getElementById("uvmc").style.color = "#fffb00";
        }
        if (progress_uvmc > 5 && progress_uvmc <= 7) {
            document.getElementById("uvmc").style.color = "#ff6600";
        }
        if (progress_uvmc > 7 && progress_uvmc <= 10) {
            document.getElementById("uvmc").style.color = "#ff0000";
        }
        if (progress_uvmc > 10) {
            document.getElementById("uvmc").style.color = "#79005e";
        }

        document.getElementById("uvmc").innerHTML =
            progress_uvmc.toString() + "";

        // rain

        var progress_wmc = {{ rain }};

        document.getElementById("wmc").innerHTML =
            progress_wmc.toString() + " rain situation";
    </script>

    <!-- <script src="{% static 'wheather_t.js' %}"></script> -->
    <!-- <script src="{% static 'wheather_m.js' %}"></script> -->

    <!-- <script src="{% static 'soil_m.js' %}"></script> -->
    <!-- <script src="{% static 'humadity.js' %}"></script> -->
    <!-- <script src="{% static 'wind.js' %}"></script> -->
    <!-- <script src="{% static 'uv.js' %}"></script> -->
    <script src="{% static 'plant_status.js' %}"></script>
    <!-- <script src="{% static 'irrigation_program.js' %}"></script> -->

</body>
{% endblock %}

</html>