* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #0e1b0b;
}

.header {
    background-color:#072400;
    padding:15px;
    text-align:center;
    margin: 10px;
}

.circle-diagrams {
    background-color: #11160f;
    width: auto;
    margin: 10px;
    overflow: auto;
}

.wheather {
    background-color: #11160f;
    width: auto;
    margin: 10px;
    overflow: auto;
}

.info_container {
    background-color: #16160f;
    float: left;
    width: 33.33%;
}

.box {
    background-color: #070c06;
    margin: 5px;
    padding: 5px;
    color: aliceblue;
}

.monitor {
    background-color: #070c06;
    margin: 5px;
}

.plant_status {
    background: #11160f;
    width: auto;
    margin: 10px;
    overflow: auto;
}

.title {
    background: #072400;
    margin: 10px;
}

.title h1 {
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

.plant {
    background-color: #11160f;
    width: auto;
    margin: 10px;
    overflow: auto;
} 

.plant_image {
    margin: 10px;
    width: 400px;
    height: 250px;
}

.week {
    background-color: #070c06;
    width: auto;
    margin: 10px;
}

.week input[type="checkbox"] {
    display: none;
}

.week span {
    background-color: #070c06;
    color: aliceblue;
    border: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

.week input[type="checkbox"]:hover + span {
    background-color: #5e5e5e;
}

.week input[type="checkbox"]:checked + span {
    background-color: #25b900;
    color: black;
    
}

.time-amount {
    background-color: #070c06;
    width: 450px;
    padding: 10px;
    margin: auto;
    font-size: large;
    color: aliceblue;
    overflow: auto;
}

/* .time-amount[id="monday"] {
    display: none;
}

.time-amount[id="tuesday"] {
    display: none;
}

.time-amount[id="wednesday"] {
    display: none;
}

.time-amount[id="thursday"] {
    display: none;
}

.time-amount[id="friday"] {
    display: none;
}

.time-amount[id="saturday"] {
    display: none;
}

.time-amount[id="sunday"] {
    display: none;
}  */

.time-amount span {
    color: aliceblue;
    width: 40%;
}

.time-amount input[type="time"] {
    background-color: #1b1d1a;
    border: none;
    width: 20%;
    color: aliceblue;

}

.time-amount input[type="range"] {
    background-color: #1b1d1a;
    border: none;
    width: 40%;
    color: #25b900;
}

.time-amount input[type="time"] + input[type="range"] {
    margin-left: 20px;
}

.time-amount span + input[type="time"] {
    margin-left: 20px;
}

form input[type="submit"] {
    /* display: none; */
    background-color: #070c06;
    border: none;
    width: 450px;
    padding: 10px;
    margin: auto;
    font-size: large;
    color: aliceblue;
    overflow: auto;
}

.login {
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
    background: #072400;
    color: aliceblue;
}

.login label {
    display: block;
    align-items: center;
    padding: 10px;
}

.login label input {
    text-align: left;
    border-radius: 25px;
}

.login input[type="submit"] {
    width: 300px;
    background-color: aliceblue;
    color: black;
    border-radius: 25px;
}

.login input[type="submit"]:hover {
    width: 300px;
    background-color: #25b900;
    color: aliceblue;
    border-radius: 25px;
}

/* .irrigation_settings {
    background-color: #070c06;
    width: 450px;
    padding: 10px;
    margin: auto;
    font-size: large;
    color: aliceblue;
    overflow: auto;
    
}

.irrigation_settings .days {
    width: 33.33%;
    float: left;
    align-items: center;
}

.irrigation_settings .days span {
    padding-bottom: 50px;
    width: 33.33%;
    margin: auto;
    padding: 20px;
}

.irrigation_settings .times {
    float: left;
    width: 33.33%;
}

.irrigation_settings .times input {
    padding-bottom: 5px;
}

.irrigation_settings .ranges {
    float: left;
    width: 33.33%;
} */

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .menu, .main, .info_container {
      width: 100%;
    }
}